:root{
  
  --white: #fff;
  --light-black: #1a1d23;
  --color-neutral-90: #cfd4dd;
  --gray: #999999;
  --orange: #F28000;
  --hover-orange: #d66e00;

  --extra-small: 16px;
  --small: 24px;
  --medium: 56px;
  --large: 76px;
  --extra-large: 96px;
}


body{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}